<div class="container p-2">
  <h1><%= @task.title %> </h1>
  <p class="alert alert-secondary"> <%= @task.details %> </p>
  <% if @task.completed %>
    <p class="alert alert-info">The task is done</p>
  <% else %>
    <p class="alert alert-info">The Task is not done</p>
  <% end %>
  <p class="btn btn-light"><%= link_to "Return to All the tasks", tasks_path %> </p>
  <p class="btn btn-light"><%= link_to "Edit this task", edit_task_path %></p>
  <p class="btn btn-light"> <%= link_to 'Remove this Task', task_path, data: {:confirm => 'Are you sure?'}, :method => :delete %></p>
</div>
